html {
    background-color: black;
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    alignment: center;
}

img {
    border: 5px solid whitesmoke;
    margin-top: 20px;
    width: 100%;
}
div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
h1 {
    font-weight: bold;
    text-transform: uppercase;
}
p {

}
