<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Library</title>
    </head>
    <body>
        <h1>My Library</h1>
        {% if books|length == 0 %}
            <p>No books in library</p>
        {% else %}
                <ul>
                {% for book in books %}
                    <li><p>{{ book.title + " - " + book.author + " - " + book.rating|string + "/10" }}</p></li>
{#                  <li><p>{{ "book.title - book.author - book.rating|string /10" }}</p></li>#}
                {% endfor %}
                </ul>
        {% endif %}
        <a href="{{ url_for('add') }}">Add New Book</a>
    </body>
</html>
